<header>
  <div class="col-6">
    <span class="togle-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
      aria-controls="offcanvasWithBackdrop"> <i class="fa-solid fa-bars"></i>
    </span>
  </div>
  <div class=" col-6 d-flex justify-content-end main pb-2">
    <div>
      <a routerLink="dashboard/notification"> <img src="assets/search.png" alt="" width="50px" height="48px"
          style="margin-top: 20px;"></a>
    </div>
    <div class="main-container" >
      <div class=" container ">
        <img src="assets/Ellipse 3965.png" alt="" width="32px" height="32px">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Admin
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/setting">Setting</a></li>
            <li><a class="dropdown-item">Log Out</a></li>
          </ul>
        </div>

      </div>


    </div>
  </div>
</header>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
  aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset text-success" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <app-sidenavbar></app-sidenavbar>
  </div>
</div>