<div >
    <div class="header">

        <div class="d-flex justify-content-end main">
            <div>
                <img src="assets/search.png" alt="" width="50px" height="48px" style="margin-top: 20px;">
            </div>
            <div class="d-flex group justify-content-between align-items-center" style="padding: 0 6px; margin-top: 20px;">
                <div class="d-flex  " style="gap: 10px;">
                    <img src="assets/Ellipse 3965.png" alt="" width="32px" height="32px">
                    <h6 class="d-flex align-items-center">Admin</h6>
                </div>
                <div>
                    <img src="assets/chevron-down.png" alt="" width="16px" height="16px">
                </div>

            </div>
        </div>
    </div>





    <!-- dashboard -->
   


    <!-- end -->
</div>