
main{
    background-color: rgb(245, 246, 247);
    height: 100vh;
    .label{
        h6{
            font-size: 18px;
            font-weight: 600;
            margin: 15px;
            padding: 20px;
       
            
        }
    }
 

    .policy{
        display: flex;
        justify-content: space-between;
        background-color: white;
        width: 95%;
        margin: auto;
        border-radius: 9px;
        padding-bottom: 300px;
        p{
            font-size: 18px;
            font-weight: 600;
            margin: 15px;
            color: rgba(128, 141, 158, 1)
         
        }
      
    }
 
}
