<main>

    <div class="label d-flex justify-content-between">
        <h6>Create Policies</h6>
        <div class="d-flex gap-2 p-4">
            <a routerLink="/dashboard/createpolicy"><img src="assets/pencil.png" alt="" width="32px" height="32px"></a>
            <img src="assets/bin.png" alt="" width="32px" height="32px">
        </div>
    </div>
    <div>
        <div class="policy">
            <div>
                <p>Policy Name</p>
             <h4 class="p-3">Terms and Conditions</h4>
            </div>
         

        </div>

    </div>
</main>