@mixin btn{
    width: 170px;
    background-color: rgba(126, 15, 198, 1);
    color: white;
    font-weight: 700;
    margin: 10px 30px 0 0;
    height: 50px;
    border-radius: 12px;
    outline: none;
    border: none;
}
main{
    background-color: rgb(245, 246, 247);
    .label{
        h6{
            font-size: 18px;
            font-weight: 600;
            margin: 15px;
            padding: 20px;
        }
    }
    button{
        @include btn();
    }

    .policy{
        display: flex;
        justify-content: space-between;
        background-color: white;
        p{
            font-size: 18px;
            font-weight: 600;
            margin: 15px;
         
        }
        input{
         
          border: none;
          outline: none;
            margin: 15px;
            background-color: rgb(248, 249, 249);
            padding: 10px;
            margin: 0 0 15px 15px;
            width: 300px;
      
        }
    }
    .NgxEditor__Wrapper{
        margin: 0 10px 10px 10px;
    }
}
