main {

    background-color: rgb(246, 247, 247);
    // height: 100%;
    


    .filter {
        padding: 10px 0;
        background-color: white;
        width: 95%;
        margin: auto;
        border-radius: 9px;

    }

    .order-history {
        margin: 25px 0 25px 35px;
        font-weight: 600;
        font-size: 18px;
    }

}

.label {
    padding: 20px 20px 20px 10px;
    font-weight: 700;
    h3{
        margin: 0 0 20px 30px;
    }


}

.table-div {
    margin: 5px auto;
    border-radius: 16px;
    overflow-x: auto;
    background-color: white;
    width: 95%;
    border-radius: 9px;
    margin-top: 15px;
    padding: 20px;
}

.image-cell {
    .btn {
        outline: none;
        width: 73px;
        height: 24px;
        border: none;
        background-color: rgb(229, 250, 255);
        border-radius: 5px;
        font-size: 12px;
        padding: 3px 8px 3px 8px;
        color: rgba(0, 209, 255, 1);
        font-weight: 500;
        text-align: center;

    }

    .bin {
        display: flex;
        gap: 10px;
    }
}

.pagination {
    display: flex;
    justify-content: space-between;

    p {
        font-size: 16px;
        font-weight: 700;
    }
}










// modal
.modal-body {
    display: flex;
    flex-direction: column;

    p {
        font-size: 14px;
        font-weight: 600;
    }

}

// .modal-dialog{
//     width: 25%;
// }


.btn {
    background-color: rgba(126, 15, 198, 1);
    color: white;
    margin: 10px auto;
    width: 90%;
    height: 60px;
}

.heading {
    display: flex;
    height: 55px;
    background-color: rgba(17, 0, 54, 1);
    border-radius: 7px 7px 0px 0px;

    h5 {

        color: white;
        width: 94%;
        text-align: center;
        padding-top: 10px;
    }

    button {
        outline: none;
        color: white;
        border: none;
        background-color: rgb(17, 0, 54);
        font-size: xx-large;
    }

}

.container {

    display: flex;
    gap: 15px;
    line-height: 2px;


}

// .image {
//     margin-left: 9px;
// }


#yasman {
    font-size: 12px;
    font-weight: 700;
}

.email {
    display: flex;
    gap: 10px;
    align-items: center;

}
.phone {
    display: flex;
    gap: 10px;
    align-items:  center;

}
.location {
    display: flex;
    gap: 10px;
    align-items: center;

}

.gmail {
    color: #808D9E;
    font-size: 10px;
    font-weight: 400;

}

.image-2 {
    line-height: 4px;

    p {
        color: #808D9E;
        font-size: 10px;
        font-weight: 400;
    }
}

// @media (max-width:1100px){
//     .modal-dialog{
//         width: 40%;
//     }
// }
// @media (max-width:700px){
//     .modal-dialog{
//         width: 50%;
//     }
// }
// @media (max-width:580px){
//     .modal-dialog{
//         width: 70%;
//     }
// }



// filter
@mixin place {
    color: rgba(128, 141, 158, 1);
    margin-left: 15px;
    font-weight: 500;
    font-size: 16px;
}
@mixin btngrp{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        align-items: end;
        margin-bottom: 10px;
}

@mixin filter-reset {
    width: 230px;
    height: 56px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.select {
    width: 208px;
    height: 56px;
    outline: none;
    font-size: 16px;
}

   

    input {
        width: 350px;
        height: 56px;
        border: 1px solid rgba(226, 232, 240, 1);
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        &::placeholder {
         
            @include place();
        }

    }
    .btngrp3{
        display: flex;
        align-items:end ;
        gap: 12px;
        width: 500px;
    }


    .range {
        input {
            width: 105px;
            height: 56px;
            border: 1px solid rgba(226, 232, 240, 1);
            border-radius: 5px;
            outline: none;
            padding-left: 10px;
            &::placeholder {
          
                @include place();
            }
        }
    }

    .btngrp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 18px;
        justify-content:space-around;
        align-items: end;
        margin-bottom: 10px;


        .filter {
            background-color: rgb(126, 15, 198);
            color: white;
            @include filter-reset();
        }

        .reset {
            background-color: rgb(249, 250, 253);
            color: rgba(128, 141, 158, 1);
            @include filter-reset();
        }

        label {
            font-weight: 600;
        }

    }
    .name{
        width: 263;
    }
    .form-group{
        width: 23%;
    }
    .select{
        width: 15%;
    }
    .ran{
        width: 68%;
    }
