<main>
    <div class="label">
        <h3>Orders</h3>
    </div>
    <div class="filter">
        <app-filter></app-filter>
        <!-- <div class="btngrp">
            <input class="name" type="text" placeholder="Search by Card ID/ Name">
            <select class="form-select select" aria-label="Default select example">
                <option selected>Status</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select select" aria-label="Default select example">
                <option selected>Brands</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="btngrp3">
                <p>Price Range</p>
                <div class="range">
                    <input class="ran" type="text" placeholder="Min">
                </div>
    
                <p>to</p>
                <div class="range">
                    <input type="text" placeholder="Mix">
                </div>
            </div>
        </div>
    
    
        <div class="btngrp">
            <div class="form-group">
                <label>Start Date</label>
                <input  type="date" class="form-control start" id="exampleInputEmail1">
            </div>
            <div class="form-group">
                <label>End Date</label>
                <input type="date" class="form-control start" id="exampleInputEmail1">
            </div>
    
            <button class="filter">Filter</button>
            <button class="reset">Reset</button>
    
        </div> -->
    </div>


    <div class="order-history">
        <h6>Order History</h6>
    </div>
    <div class="table-div">

        <table class="table">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Card ID</th>
                    <th>Purchased Date</th>
                    <th>Users</th>
                    <th>Brand</th>
                    <th>Amount</th>
                    <th>Gift For</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr class="image-cell"
                    *ngFor="let item of tableData | paginate:{itemsPerPage:pageSize,currentPage:currentPage}; let i=index">
                    <td>{{i+1 +(pageSize*(currentPage-1))}}</td>
                    <td>{{item.cardID}}</td>
                    <td> {{item.email}}</td>
                    <td> {{item.users}}</td>
                    <td> {{item.brand}}</td>
                    <td> {{item.amount}}</td>
                    <td> {{item.giftfor}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td>
                        <div class="bin"><img data-bs-toggle="modal" data-bs-target="#myModal"
                                src="assets/Group 1597883372.svg" alt="" width="35px" height="35px"><span><button
                                    class="btn">Available</button></span></div>
                    </td>
                </tr>



            </tbody>

        </table>

        <div class="pagination mt-5">
            <p>Showing {{1}}-{{12}} of {{738}}</p>
            <pagination-controls (pageChange)="currentPage=$event">
        
            </pagination-controls>
        
        </div>
    </div>
  
</main>


<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header heading">
        <h5 class="modal-title" id="exampleModalLabel">Gift Card Receiver Detail</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add your form inputs here -->
        <div>
          <img src="assets/mcdonald.svg" alt="" width="100%">
        </div>
        <div class="mt-3">
          <p>Receiver ID</p>
        </div>
        <div>
          <div class="container">
            <div><img src="assets/profil.svg" alt="" class="image" width="90px" height="90px"></div>
            <div class="image-2">
              <p id="yasman" class=" text-black">Yasmany B</p>
              <div class="email">
                <img src="assets/Email.png" alt="" class="image" width="16px" height="16px">
                <p class="gmail">ybreff87@gmail.co</p>
              </div>
              <div class="email">
                <img src="assets/phone.png" alt="" class="image" width="16px" height="16px">
                <p class="gmail">9876567876</p>
              </div>
              <div class="email">
                <img src="assets/location.png" alt="" class="image" width="13px" height="13px">
                <p class="gmail">456 Park Avenue, New York, NY 10022:</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
