<main>
    <div class="label">
        <h3>Orders</h3>
    </div>
    <div class="filter">
        <app-filter></app-filter>
    </div>


    <div class="order-history">
        <h6>Order History</h6>
    </div>
    <div class="table-div">

        <table class="table">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Card ID</th>
                    <th>Purchased Date</th>
                    <th>Users</th>
                    <th>Brand</th>
                    <th>Amount</th>
                    <th>Gift For</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr class="image-cell"
                    *ngFor="let item of tableData | paginate:{itemsPerPage:pageSize,currentPage:currentPage}; let i=index">
                    <td>{{i+1 +(pageSize*(currentPage-1))}}</td>
                    <td>{{item.cardID}}</td>
                    <td> {{item.email}}</td>
                    <td> {{item.users}}</td>
                    <td> {{item.brand}}</td>
                    <td> {{item.amount}}</td>
                    <td> {{item.giftfor}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td>
                        <div class="bin"><img data-bs-toggle="modal" data-bs-target="#myModal"
                                src="assets/Group 1597883372.svg" alt="" width="35px" height="35px"><span><button
                                    class="btn">Available</button></span></div>
                    </td>
                </tr>



            </tbody>

        </table>

        <div class="pagination mt-5">
            <p>Showing {{1}}-{{12}} of {{738}}</p>
            <pagination-controls (pageChange)="currentPage=$event">

            </pagination-controls>

        </div>
    </div>
</main>




<!-- modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="heading">
                <h5 class="modal-title">Gift Card Receiver Detail</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
            </div>


            <div class="modal-body">
                <!-- Add your form inputs here -->
                <div>
                    <img src="assets/mcdonald.svg" alt="" width="100%">
                </div>
                <div>
                    <p>Receiver ID</p>
                </div>
                <div>
                    <div class="container">
                        <div><img src="assets/profil.svg" alt="" class="image" width="75px" height="75px"></div>




                        <div class="image-2">
                            <p id="yasman" class=" text-black">Yasmany B</p>
                            <div class="email">
                                <img src="assets/Email.png" alt="" class="image" width="16px" height="16px">
                                <p class="gmail">ybreff87@gmail.co</p>
                            </div>
                            <div class="email">
                                <img src="assets/phone.png" alt="" class="image" width="16px" height="16px">
                                <p class="gmail">9876567876</p>
                            </div>
                            <div class="email">
                                <img src="assets/location.png" alt="" class="image" width="13px" height="13px">
                                <p class="gmail">456 Park Avenue, New York, NY 10022:</p>
                            </div>

                        </div>

                    </div>
                </div>

            </div>




        </div>
    </div>
</div>