@import '../users/users.component.scss';

@mixin buttons {
    width: 154px;
    height: 63px;
    border-radius: 16px 16px 0px 0px;
    border: none;
    font-weight: 600;
}

main {
    height: 100vh;

    .filter {
        padding: 10px 0;
        background-color: white;

    }

    .order-history {
        margin: 25px;
        font-weight: 600;
        font-size: 18px;
    }

}

.searchbar {
    padding: 10px;
    @include bar();

    input {
        @include input();

    }

    button {
        @include button();
    }
}

.categories-btn {
    display: flex;
    gap: 5px;
    margin: 10px auto 0 auto;
    width: 95%;

    .Categories {
        background-color: rgba(17, 0, 54, 1);
        color: white;
        @include buttons();
    }

    .Uncategories {
        background-color: white;
        color: black;
        @include buttons();
    }

}

.label {
    margin: 0 20px 20px 10px;
    font-weight: 700;

    h3 {
        margin: 20px 0 20px 30px;
    }
}

.table-div {
    margin: 0 auto;
    border-radius: 16px;
    overflow-x: auto;
    background-color: white;
    width: 95%;
    border-radius: 9px;

    padding: 20px;
}

.category {
    padding: 3px;
    background-color: rgba(126, 15, 198, 0.1);
    border-radius: 5px;
    width: 24%;
    text-align: center;
    color: rgb(126, 15, 198);
}

.image-cell {
    .btn {
        outline: none;
        width: 73px;
        height: 24px;
        border: none;
        background-color: rgb(229, 250, 255);
        border-radius: 5px;
        font-size: 12px;
        padding: 3px 8px 3px 8px;
        color: rgba(0, 209, 255, 1);
        font-weight: 500;
        text-align: center;

    }

    .bin {
        display: flex;
        gap: 10px;
    }
}

.pagination {
    display: flex;
    justify-content: space-between;

    p {
        font-size: 16px;
        font-weight: 700;
    }
}

// modal
// .modal-dialog{
//     width: 25%;
// }
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .inputs {
        height: 56px;
        display: flex;
        background-color: rgb(249, 249, 249);
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        input{
            border: none;
            outline: none;
            height: 33px;
            background-color: rgb(249, 249, 249);

        
        }
        .color{
            width: 106px;
        }
    }

    .parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .items {
            background-color: rgb(242, 231, 249);
            color: rgba(126, 15, 198, 1);
            list-style: none;
            border-radius: 5px;
            margin-inline: 3px;

            li {
                padding-inline: 6px;
                font-size: 16px;
            }

            span {
                padding-left: 8px;
            }

            button {
                border: none;
                outline: none;
                background-color: rgb(242, 231, 249);
                color: rgba(126, 15, 198, 1);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

            }
        }
    }

}
.brand{
    border: none;
    outline: none;
    background-color: rgb(249, 249, 249);
}
.heading {
    display: flex;
    height: 55px;
    background-color: rgba(17, 0, 54, 1);
    border-radius: 7px 7px 0px 0px;

    h5 {

        color: white;
        width: 94%;
        text-align: center;
        padding-top: 10px;
    }

    button {
        outline: none;
        color: white;
        border: none;
        background-color: rgb(17, 0, 54);
        font-size: xx-large;
    }

}

.btn {
    background-color: rgba(126, 15, 198, 1);
    color: white;
    margin: 10px auto;
    width: 90%;
    height: 60px;
}




@media (max-width: 860px) {
    main {
        margin-left: 5px;
    }
}