<main>
    <div class="label">
        <h3>Total Brands</h3>
    </div>
    <div class="searchbar">
        <input type="text" placeholder="Search by Name">
        <button class="btn">Search</button>
    </div>


    <div class="categories-btn">
        <button class="Categories">Categories</button>
        <button class="Uncategories">Uncategories</button>
    </div>
    <div class="table-div">

        <table class="table">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>images</th>
                    <th>Brand</th>
                    <th>BackgroundColor</th>
                    <th>Total Gift Cards</th>
                    <th>Assigned Categories</th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr class="image-cell"
                    *ngFor="let item of tableData | paginate:{itemsPerPage:pageSize,currentPage:currentPage}; let i=index">
                    <td>{{i+1 +(pageSize*(currentPage-1))}}</td>
                    <td><img [src]="item.images" alt="" width="30px" height="30px"></td>
                    <td> {{item.brands}}</td>
                    <td> {{item.BackgroundColor}}</td>
                    <td> {{item.totalCards}}</td>

                    <td> {{item.assignedCategories}}</td>
                    <td></td>
                    <td></td>
                    <td></td>


                    <td>
                        <div class="bin"><img data-bs-toggle="modal" data-bs-target="#myModal"
                                src="assets/Group 1597883371.svg" alt="" width="35px" height="35px"></div>
                    </td>
                </tr>



            </tbody>

        </table>

        <div class="pagination">
            <p>Showing {{1}}-{{12}} of {{738}}</p>
            <pagination-controls (pageChange)="currentPage=$event">

            </pagination-controls>

        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="heading">
                    <h5 class="modal-title">Assign Categories</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                            aria-hidden="true">&times;</span> </button>
                </div>


                <div class="modal-body">
                    <!-- Add your form inputs here -->
                    <label for="name">Brand Name</label>
                    <input type="text" id="name" value="Khadi">
                    <label for="name">Categories</label>
                    <select class="form-select select" aria-label="Default select example">
                        <option selected>Select Category</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label for="color">Select Card Color</label>
                    <input type="text" id="name" placeholder="#0000000">

                </div>


                <button type="button" class="btn">Assign</button>

            </div>
        </div>
    </div>
</main>