@import '../users/users.component.scss';
@mixin buttons{
    width: 154px;
    height: 63px;
    border-radius: 16px 16px 0px 0px;
    border: none;
}
main {
    margin-left: 250px;

    .filter {
        padding: 10px 0;
        background-color: white;

    }

    .order-history {
        margin: 25px;
        font-weight: 600;
        font-size: 18px;
    }

}
.searchbar{
    padding: 10px;
    @include bar();
      input{
        @include input();
  
      }
      button{
        @include button();
      }
  }

  .categories-btn{
    display: flex;
    gap: 5px;
    margin: 10px 0 0 20px;
    .Categories{
        background-color: rgba(17, 0, 54, 1);
        color: white;
        @include buttons();
    }
    .Uncategories{
        background-color: white;
        color: black;
        @include buttons();
    }
 
  }

.label {
    padding: 15px 0 0 25px;
    font-weight: 700;


}

.table-div {
    margin: 5px 15px;
    border-radius: 16px;
}

.image-cell {
    .btn {
        outline: none;
        width: 73px;
        height: 24px;
        border: none;
        background-color: rgb(229, 250, 255);
        border-radius: 5px;
        font-size: 12px;
        padding: 3px 8px 3px 8px;
        color: rgba(0, 209, 255, 1);
        font-weight: 500;
        text-align: center;

    }

    .bin {
        display: flex;
        gap: 10px;
    }
}
.pagination{
    display: flex;
    justify-content: space-between;
    p{
        font-size: 16px;
        font-weight: 700;
    }
}

// modal

.modal-body{
    display: flex;
    flex-direction: column;
    gap :15px;
    input{
        height: 50px;
        border: none;
        outline: none;
        background-color: rgb(249, 249, 249);
    }
}

.heading {
    display: flex;
    height: 55px;
    background-color: rgba(17, 0, 54, 1);
    border-radius: 7px 7px 0px 0px;

    h5 {

        color: white;
        width: 94%;
        text-align: center;
        padding-top: 10px;
    }

    button {
        outline: none;
        color: white;
        border: none;
        background-color: rgb(17, 0, 54);
        font-size: xx-large;
    }

}
.btn {
    background-color: rgba(126, 15, 198, 1);
    color: white;
    margin: 10px auto;
    width: 90%;
    height: 60px;
}




@media (max-width: 860px) {
    main{
        margin-left: 5px;
    }
}