<main>
    <div class="label">
        <h3>Categories</h3>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#myModal">Add New Category</button>
    </div>
    <div>
        <div class="searchbar">
            <input type="text" placeholder="Search by Name">
            <button class="btn">Search</button>
        </div>

        <div class="table-div">

            <table class="table ">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Category Image</th>
                        <th>Category Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="image-cell" *ngFor="let item of tableData">
                        <td>{{item.id}}</td>
                        <td><img [src]="item.img" alt="" width="35px" height="35px"></td>
                        <td> {{item.name}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="bin"><img data-bs-toggle="modal" data-bs-target="#myModal"
                                    src="assets/pencil.png" alt="" width="35px" height="35px"> <img src="assets/bin.png"
                                    alt="" width="35px" height="35px"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered" role="document"> <!-- Added modal-dialog-centered -->
            <div class="modal-content">
                <div class="heading">
                    <h5 class="modal-title">Add Category</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"> <span
                            aria-hidden="true">&times;</span> </button>
                </div>

                <div class="modal-body">
                    <div class="label1">
                        <p>Category Icon</p>
                        <p>Category Name</p>
                    </div>
                    <div class="label2">
                        <label for="upload-image"><img src="assets/Group 1000005174.svg" alt="" width="67px"
                                height="72px"></label>
                        <input class="d-none" type="file" id="upload-image">
                        <input type="text" class="form-control" placeholder="Category Name">
                    </div>
                </div>

                <button type="button" class="btn">Add</button>
            </div>
        </div>
    </div>
</main>
