<main>
    <div class="main-div">
        <div class="Main-user">
            <p class="user">User &gt;</p>
            <p class="details"> User Details</p>
        </div>
        <div class="container">
            <div><img src="assets/profil.svg" alt="" class="image"></div>




            <div class="image-2">
                <p class="yasman">Yasmany B</p>
                <div class="email">
                    <img src="assets/Email.png" alt="" class="image" width="16px" height="16px">
                    <p class="gmail">ybreff87@gmail.co</p>
                </div>
                <div class="email">
                    <img src="assets/phone.png" alt="" class="image" width="16px" height="16px">
                    <p class="gmail">9876567876</p>
                </div>
                <div class="email">
                    <img src="assets/location.png" alt="" class="image" width="16px" height="16px">
                    <p class="gmail">456 Park Avenue, New York, NY 10022:</p>
                </div>

            </div>

        </div>
        <div class="details-1">
            <p class="order-1">Order Details</p>
        </div>
        <div class="card-container">
            <div class="carditem">

                <img class="img1" src="assets/Gift card.svg" alt="" width="60px" height="60px">

                <div>
                    <h6>Total Cards</h6>
                    <h4>3</h4>
                </div>
            </div>
            <div class="carditem">

                <img class="img2" src="assets/red.svg" alt="" width="60px" height="60px">

                <div>
                    <h6>My Cards</h6>
                    <h4>3</h4>
                </div>
            </div>
            <div class="carditem">

                <img class="img3" src="assets/green.svg" alt="" width="60px" height="60px">

                <div>
                    <h6>Gifted Cards</h6>
                    <h4>3</h4>
                </div>
            </div>

        </div>

<app-orders></app-orders>
        <!-- <div class="filter">
            <app-filter></app-filter>
        </div> -->


    </div>
</main>