<main>

    <div class="label">
        <h3>Policies</h3>
        <button class="btn" (click)="updateprofile()">Edit Profile</button>
    </div>

    <div class="profile-section">
        <div>
            <button>Profile</button>
        </div>
    </div>


    <div class="profile">
        <div class="profile-img">
            <p>Profile Picture</p>
            <img src="assets/Rectangle 6667516.svg" alt="" width="146px" height="137px">
        </div>

        <div class="profile-input-section p-3">
            <div class="inputs">
                <label for="name">Name</label>
                <input type="text" value="Hasnain">
            </div>
            <div class="inputs">
                <label for="email">Email</label>
                <input type="text" placeholder="hasnainaslam@gmail.com">
            </div>
            <div class="inputs">
                <label for="number">Contact Number</label>
                <input type="text" value="0333-98298897">
            </div>
            <div class="inputs">
                <label for="address">Address</label>
                <input type="text" value="7 Autry, Irvine, California 92618, United States">
            </div>
            <div *ngIf="update" class="d-flex justify-content-end">
                <button class="btn">Update Profile</button>
            </div>
        
        </div>
     
          
       
    </div>

</main>