<main>
    <div class="label">
        <h3>Gift Cards</h3>
    </div>



    <div class="filter">
        <app-filter></app-filter>
        <!-- <div class="btngrp1">
            <input type="text" placeholder="Search by Card ID/ Name">
            <select class="form-select select" aria-label="Default select example">
                <option selected>Status</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select select" aria-label="Default select example">
                <option selected>Brands</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="btngrp3">
                <p>Price Range</p>
                <div class="range">
                    <input type="text" placeholder="Min">
                </div>

                <p>to</p>
                <div class="range ">
                    <input type="text" placeholder="Mix">
                </div>
            </div>
        </div> -->
        <!-- <div class="btngrp1 justify-content-end">
            <button class="filter">Filter</button>
            <button class="reset">Reset</button>

        </div> -->
    </div>




    <div class="table-div">

        <table class="table">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Card ID</th>
                    <th>Brand</th>
                    <th></th>
                    <th></th>
                    <th>Amount</th>
                    <th></th>
                    <th></th>
                    <th>Country Name</th>

                </tr>
            </thead>
            <tbody>

                <tr class="image-cell"
                    *ngFor="let item of tableData | paginate:{itemsPerPage:pageSize,currentPage:currentPage}; let i=index">
                    <td>{{i+1 +(pageSize*(currentPage-1))}}</td>
                    <td>{{item.cardID}}</td>
                    <td> {{item.brand}}</td>
                    <td></td>
                    <td></td>
                    <td> {{item.amount}}</td>
                    <td></td>
                    <td></td>
                    <td> {{item.country}}</td>



                </tr>



            </tbody>

        </table>

        <div class="pagination">
            <p>Showing {{1}}-{{12}} of {{738}}</p>
            <pagination-controls (pageChange)="currentPage=$event">

            </pagination-controls>

        </div>
    </div>
</main>