main {
    
        background-color: rgb(246, 247, 247);
        height: 100vh;
    

    .filter {
        padding: 10px 0;
        background-color: white;

    }

    .order-history {
        margin: 25px;
        font-weight: 600;
        font-size: 18px;
    }

}

.label {
    padding: 15px 0 0 25px;
    font-weight: 700;


}

.table-div {
    margin: 5px auto;
    border-radius: 16px;
    overflow-x: auto;
    background-color: white;
    width: 96%;
    border-radius: 9px;
    margin-top: 15px;
    padding: 20px;
}

.image-cell {
    .btn {
        outline: none;
        width: 73px;
        height: 24px;
        border: none;
        background-color: rgb(229, 250, 255);
        border-radius: 5px;
        font-size: 12px;
        padding: 3px 8px 3px 8px;
        color: rgba(0, 209, 255, 1);
        font-weight: 500;
        text-align: center;

    }

    .bin {
        display: flex;
        gap: 10px;
    }
}
.pagination{
    display: flex;
    justify-content: space-between;
    p{
        font-size: 16px;
        font-weight: 700;
    }
}



@media (max-width: 860px) {
    main{
        margin-left: 5px;
    }
}













@mixin place {
    color: rgba(128, 141, 158, 1);
    margin-left: 15px;
    font-weight: 500;
    font-size: 16px;
}
@mixin btngrp{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        align-items: end;
        margin-bottom: 10px;
}

@mixin filter-reset {
    width: 215px;
    height: 56px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.select {
    width: 208px;
    height: 56px;
    outline: none;
    font-size: 16px;
}

.filter {
    background-color: white;

    input {
        width: 310px;
        height: 56px;
        border: 1px solid rgba(226, 232, 240, 1);
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        &::placeholder {
            
            @include place();
        }

    }
    .btngrp3{
        display: flex;
        align-items:end ;
        gap: 12px;
    }

    .range {
        input {
            width: 95px;
            height: 56px;
            border: 1px solid rgba(226, 232, 240, 1);
            border-radius: 5px;
            outline: none;
            padding-left: 10px;
            &::placeholder {
               
                @include place();
            }
        }
    }

    .btngrp1 {
    @include btngrp();

        .filter {
            background-color: rgb(126, 15, 198);
            color: white;
            @include filter-reset();
        }

        .reset {
            background-color: rgb(249, 250, 253);
            color: rgba(128, 141, 158, 1);
            @include filter-reset();
        }

        label {
            font-weight: 600;
        }

    }
}