<div class="main">
    <div class="btngrp">
        <input type="text" placeholder="Search by Card ID/ Name">
        <select class="form-select select" aria-label="Default select example">
            <option selected>Status</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select select" aria-label="Default select example">
            <option selected>Brands</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <p>Price Range</p>
        <div class="range">
            <input type="text" placeholder="Min">
        </div>

        <p>to</p>
        <div class="range">
            <input type="text" placeholder="Mix">
        </div>
    </div>


    <div class="btngrp">
        <div class="form-group">
            <label>Start Date</label>
            <input type="date" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label>End Date</label>
            <input type="date" class="form-control" id="exampleInputEmail1">
        </div>
       
        <button class="filter">Filter</button>
        <button class="reset">Reset</button>

    </div>
</div>