<!-- <div class="main"> -->
    <!-- <div class="btngrp">
        <input class="name" type="text" placeholder="Search by Card ID/ Name">
        <select class="form-select select" aria-label="Default select example">
            <option selected>Status</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select select" aria-label="Default select example">
            <option selected>Brands</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div class="btngrp3">
            <p>Price Range</p>
            <div class="range">
                <input class="ran" type="text" placeholder="Min">
            </div>

            <p>to</p>
            <div class="range">
                <input type="text" placeholder="Mix">
            </div>
        </div>
    </div>


  <div class="btngrp">
        <div class="form-group">
            <label>Start Date</label>
            <input  type="date" class="form-control start" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label>End Date</label>
            <input type="date" class="form-control start" id="exampleInputEmail1">
        </div>

        <button class="filter">Filter</button>
        <button class="reset">Reset</button>

    </div> --> 
<!-- </div> -->
<div class="filter-section">
    <div class="w-33 search-input">
        <input type="search" placeholder="Search by Card ID/ Name">
    </div>
    <div class="w-33 select-input">
        <select>
            <option >Status</option>
        </select>
        <select>
            <option value="#">Brands</option>
        </select>
    </div>
    <div class="w-33 price-range-input">
        <label for="">Price Range</label>
        <input type="text" placeholder="Min"> To
        <input type="text" placeholder="Max">
    </div>
   
    <div class="w-33 date-input">
        <label for="">Start Date</label>
        <input type="date">
    </div>
    <div class="w-33 date-input ps" style="padding-left: 13px;">
        <label for="">End Date</label>
        <input type="date">
    </div>
    <div class="w-33 filter-btn">
        <button [ngClass]="{'active-btn':activeBtn==='filter'}" (click)="currentActiveBtn('filter')">Filter</button>
        <button [ngClass]="{'active-btn':activeBtn==='reset'}" (click)="currentActiveBtn('reset')">Reset</button>
    </div>
</div>