<main>


    <div class="notification">
        <div class="message">
            <h5>You have Create a new Category</h5>
            <p>Rehan with Email(abcd@gamil.com) has sent request for id approval</p>
        </div>
        <div class="view">
            <p><a>View</a></p>
        </div>
    </div>
    <div class="notification">
        <div class="message">
            <h5>Brands are Categorize</h5>
            <p>Ahmed with Email(abcd@gamil.com) has sent request for order cancel. </p>

        </div>
        <div class="view">
            <p><a>View</a></p>
        </div>
    </div>
    <div class="notification">
        <div class="message">
            <h5>You have Create a new Category</h5>
            <p>Rehan with Email(abcd@gamil.com) has sent request for id approval</p>

        </div>
        <div class="view">
            <p><a>View</a></p>
        </div>
    </div>


</main>