<main>
    <div class="label">
        <h3>Dashboard</h3>
    </div>



    <div class="parent">
        <div class="items" *ngFor="let item of cards">
            <div class="inside">
                <div>
                    <img [src]="item.img" alt="" width="37px" height="37px">
                </div>
                <p>{{item.title}}</p>
                <div class="d-flex justify-content-between">
                    <h3>{{item.price}}</h3>
                    <img id="arrow" src="assets/Black (2).png" alt="" width="30px" height="18px">
                </div>
            </div>
        </div>
    </div>
    <div class="graph">
        <div class="heading1">
            <p>Sales Statistics</p>
            <div class="calendar ">
               <img src="assets/cal1.svg" alt="" width="38px" height="38px">
               <div class="cal-btn">
                <input type="date" placeholder="je" >
                <p>to</p>
                <input type="date" placeholder="yes">
               </div>
            </div>
        </div>
        <div class="btns">
            <button class="sales">Sales</button>
            <button class="orders">Orders</button>
        </div>
        <div class="chart">
            <google-chart title="line chart" [type]="chartType" [data]="myData" style="width:96%; margin: auto;">
            </google-chart>
        </div>
    </div>
</main>