.mainpage {
    display: flex;
    flex-direction: row;

    .active {
        background-color: rgb(126, 15, 198);
        border-radius: 5px;

    }

    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: rgb(17, 0, 54);


        .logo {
            img {
                margin: 25px 40px 35px 40px;
            }
        }

        .side-list {
            ul {
                margin-left: 12px;
                padding: 0 !important;
            }

            li {

                color: rgb(221, 226, 255);
                list-style-type: none;
                display: flex;
                align-items: baseline;
                flex-direction: row;
                gap: 20px;
                cursor: pointer;
                padding: 10px 0 10px 15px;
                width: 210px;

                :hover {
                    background-color: rgb(126, 15, 198);
                }
            }
        }
    }
}

li:hover {
    background-color: rgb(126, 15, 198);
    border-radius: 5px;
}

@media (max-width: 860px) {
    .mainpage{
        display: none;
    }
}