<div class="mainpage">
    <div class="sidebar">
        <div class="logo">
            <img src="assets/logo 2.png" alt="" width="150px" height="38px">
        </div>
        <div class="side-list">
            <ul>
                <li  *ngFor="let item of listArray " routerLink={{item.path}} [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                    <img [src]="item.img" alt="" width="15px" height="15px"> <span>{{item.name}}</span>

                </li>
            </ul>
        </div>
    </div>




    <!-- header -->
   
   



</div>
