main {
    display: flex;
    height: 100vh; 
}

.left {
    width: 250px; 
    position: fixed;
    top: 0;
    bottom: 0; 
    overflow-y: auto; 
}

.right {
    flex: 1; 
    overflow-x: auto; 
  
}

.top {
    height: 90px;
    width: 100%;

}

.bottom {
 
    background-color: rgb(245, 246, 247);
}
