@import "../categories/categories.component.scss";



main {
    background-color: rgb(246, 247, 247);
    height: 100vh;
}

.label {
    h3 {
        margin: 20px;
    }

    button {
        width: 220px;
        background-color: rgba(126, 15, 198, 1);
        color: white;
        font-weight: 700;
        margin: 10px 30px 0 0;
        height: 55px;
    }

    display: flex;
    justify-content: space-between;
}

.searchbar {

    margin: auto;
    width: 95%;
    border-radius: 9px;

    @include bar();

    input {
        @include input();
        margin: 10px 8px;

    }

    button {
        @include button();
        margin: 10px 16px 10px 3px;
    }
}

.image-cell {
    vertical-align: middle;
}

.bin {
    display: flex;
    gap: 10px;
}

.table-div {
    margin: 5px auto;
    overflow-x: auto;
    width: 95%;
    border-radius: 9px;
    margin-top: 15px;
    background-color: white;
    padding: 20px;
}