<main>

    <div class="label">
        <h3>Setting</h3>
    </div>

    <div class="setting">
        <div>
            <button>Setting</button>
        </div>



        <div>
            <p>Profile Picture</p>
            <p>Notifications</p>
        </div>
        <div>
            <div>
                <label for="password">Current Password</label>
               <div> <input type="password" value="***********"><img src="/eye-slash.2.svg" alt=""></div>
            </div>
            <div>
                <p>Enabled</p>
                
            </div>
        </div>
    </div>


   

</main>