@import "../profile/profile.component.scss";

@mixin flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

main {
    background-color: rgb(246, 247, 247);
    height: 100vh;
}

.label {
    h3 {
        margin: 20px;
    }



}

.setting {
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 9px;
    padding-bottom: 10px;

    .set-btn {

        color: rgba(126, 15, 198, 1);
        font-size: 24px;
        font-weight: 500;
        border: none;
        background: white;
        border-bottom: 3px solid rgba(126, 15, 198, 1);
        width: 150px;
        margin: 20px 0 0 0;

    }


}

.main-container {
    display: flex;
    width: 55%;
    justify-content: space-between;

    .left-side {
        margin: 50px;
        width: 68%;


    }
}


.input {
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 10px;
    padding: 10px 0 8px 4px;
    margin: 15px 0 0 0;
    height: 52px;

    img {
        margin-inline-end: 8px
    }

    input {
        border: none;
        outline: none;
        padding-inline: 10px
    }

}

.password {
    @include flex();
    width: 83%;
}

.btn {
    @include btn();


}

.toggle-btn {
    width: 225px;
    display: flex;
    justify-content: space-between;
}










// toggle button

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(244, 183, 51);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(244, 183, 51);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.enabled {
    margin: 0 25px 0 0;
}