<main>

    <div class="label">
        <h3>Policies</h3>
        <button class="btn">Create New Policy</button>
    </div>
    <div class="policy">
        <div class="terms">
            <p>Policy Name <br> <span class="span">Terms and Conditions</span></p>
           
        </div>
        <div class="img-grp">
            <img src="assets/eye.png" alt="" width="32px" height="32px">
            <img src="assets/pencil.png" alt="" width="32px" height="32px">
            <img src="assets/bin.png" alt="" width="32px" height="32px">
        </div>
    </div>
    <div class="policy">
        <div class="terms">
            <p>Policy Name <br> <span class="span">Privacy Policy</span></p>
           
        </div>
        <div class="img-grp">
            <img src="assets/eye.png" alt="" width="32px" height="32px">
            <img src="assets/pencil.png" alt="" width="32px" height="32px">
            <img src="assets/bin.png" alt="" width="32px" height="32px">
        </div>
    </div>

</main>