<main>

  <div class="label">
    <h6>Create Policies</h6>
  </div>
  <div class="container1">
    <div class="policy">
      <div>
        <p>Policy Name</p>
        <input type="text" name="" value="Terms & Condition" disabled>
      </div>
      <button routerLink="/dashboard/policy">Create </button>

    </div>
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
    </div>
  </div>
</main>